<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 text-gray-800">
    <header class="bg-gray-800 text-white p-4">
      <%- include("./partials/navbar.ejs", { isLoggedIn }) %>
    </header>
    <main class="p-6 max-w-md mx-auto">
      <h1 class="text-2xl font-bold mb-4">Login</h1>
      <p class="error-message opacity-0 transition-opacity duration-300"></p>
      <form id="loginForm" onsubmit="login(event)" class="space-y-4">
        <div>
          <label for="username" class="block text-lg font-medium"
            >Username:</label
          >
          <input
            type="text"
            id="username"
            name="username"
            class="w-full p-2 border rounded"
          />
        </div>
        <div>
          <label for="password" class="block text-lg font-medium"
            >Password:</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="w-full p-2 border rounded"
          />
        </div>
        <p>
          Don't have an account?
          <a href="/signup" class="underline hover:no-underline">Create one</a>
        </p>
        <p>
          <a href="/forgot-password" class="underline hover:no-underline"
            >Forgot password?</a
          >
        </p>
        <button type="submit" class="w-full p-2 bg-gray-800 text-white rounded">
          Login
        </button>
      </form>
    </main>
  </body>
  <script>
    async function login(e) {
      e.preventDefault()
      const username = document.getElementById("username").value
      const password = document.getElementById("password").value
      const errorMessageEl = document.querySelector(".error-message")

      if (!username || !password) {
        displayErrorMessage("Please enter both username and password.")
        return
      }

      try {
        const response = await fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        })

        if (response.ok) {
          location.href = response.url
        } else {
          const data = await response.json()
          displayErrorMessage(data.message)
        }
      } catch (error) {
        console.error(error)
      }
    }

    function displayErrorMessage(msg) {
      const errorMessageEl = document.querySelector(".error-message")
      errorMessageEl.classList.remove("opacity-0")
      errorMessageEl.style.color = "red"
      errorMessageEl.textContent = msg
    }
  </script>
</html>
