<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 text-gray-800">
    <header class="bg-gray-800 text-white p-4">
      <%- include("./partials/navbar.ejs", { isLoggedIn }) %>
    </header>
    <main class="p-6 max-w-md mx-auto">
      <h1 class="text-2xl font-bold mb-4">Create New Password</h1>
      <p
        id="password-message"
        style="opacity: 0; transition: opacity 0.5s ease-in-out"
      ></p>
      <form onsubmit="updatePassword(event)" class="space-y-4">
        <div>
          <label for="new-password" class="block text-lg font-medium"
            >New Password:</label
          >
          <input
            type="password"
            id="new-password"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div>
          <label for="confirm-new-password" class="block text-lg font-medium"
            >Confirm New Password:</label
          >
          <input
            type="password"
            id="confirm-new-password"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <button type="submit" class="w-full p-2 bg-gray-800 text-white rounded">
          Create New Password
        </button>
      </form>
    </main>
  </body>
  <script>
    const newPasswordInput = document.getElementById("new-password")
    const confirmNewPasswordInput = document.getElementById(
      "confirm-new-password"
    )
    const msgEl = document.getElementById("password-message")
    const email = "<%- email %>"

    function updatePassword(e) {
      e.preventDefault()
      const newPassword = newPasswordInput.value
      const confirmNewPassword = confirmNewPasswordInput.value

      if (newPassword === confirmNewPassword) {
        fetch("/create-new-password", {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ newPassword, email }),
        })
          .then((res) => {
            if (res.ok) {
              msgEl.textContent = "Password updated successfully!"
              msgEl.style.color = "green"
              msgEl.style.opacity = 1
            }
          })
          .catch((err) => {
            console.log(err)
            msgEl.textContent = "Password update failed. Please try again."
            msgEl.style.color = "red"
            msgEl.style.opacity = 1
            setTimeout(() => {
              msgEl.style.opacity = 0
              msgEl.textContent = ""
            }, 2000)
          })
          .finally(() => {
            newPasswordInput.value = ""
            confirmNewPasswordInput.value = ""
          })
      } else {
        msgEl.textContent = "Passwords do not match. Please try again."
        msgEl.style.color = "red"
        msgEl.style.opacity = 1
        setTimeout(() => {
          msgEl.style.opacity = 0
          msgEl.textContent = ""
        }, 2000)
      }
    }
  </script>
</html>
